@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  src: local('Share'), local('Share-Regular'), url(http://themes.googleusercontent.com/static/fonts/share/v2/_jCje2O-7QL947BeMhJzWQ.woff) format('woff');
}
