/*ЦВЕТ И ОТСТУП СНИЗУ ДЛЯ БЛОКОВ*/
.head-block,.top-menu,.top-material,.left-sidebar,.content{
    background:#ccc;
    margin-bottom:1px;
}
/*ВЫСОТА МЕНЮ*/
.top-menu{
    height:90px;
    background:#daf2fe;
}

.top-menu ul{
    padding-left:0;
    margin-bottom:0;
}
.top-menu li{
    display:inline-block;
    margin-left:10px;
    padding:3px 10px;
}
/*ВЫСОТА БЛОКА ВАЖНЫЕ МАТЕРИАЛЫ*/
.top-material{
    height:200px;
}
/*ВЫСОТА САЙДБАРА И БЛОКА КОНТЕНТ*/
.left-sidebar,.content{
    height:300px;
}
/*ГРАНИЦА У КОНТЕНТА*/
.content{
    border-left:1px solid #fff;
}

.otstup{
	margin-top:30px;
}
