* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/lato.ttf');
    font-family: Latolight;
    src: url('../fonts/latolight.ttf');
}

/***********************
	-	BASICS 	-
***********************/
html {
	overflow-x:hidden;	
	padding: 0 !important;
	background-image:url(../images/tiles/bgtile.jpg);	
	margin:0px !important;
}


ol, ul {  list-style: none; }

a{	text-decoration:none;}



  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-	
  **********************************************************************************************/
  
  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/

  .bannercontainer {	
		padding:5px;		
		background-color:#fff;
		width:890px;	
		position:relative;
		position:relative;	
		margin-left:auto;
		margin-right:auto;	
	
	}
 
  .banner{		
		width:890px;
		height:490px;
		position:relative;
		overflow:hidden;			
   }
   
   
    .bannercontainer-simple {	
		padding:5px;		
		background-color:#fff;
		width:890px;	
		position:relative;
		position:relative;	
		margin-left:auto;
		margin-right:auto;	
	
	}
 
  .banner-simple{		
		width:890px;
		height:490px;
		position:relative;
		overflow:hidden;			
   }

 .fullwidthbanner-container{
	width:100% !important;		
	position:relative;
	padding:0;		
	max-height:450px !important;
	overflow:hidden;
} 

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:450px !important;
	position:relative;	
}
   
   

   @media only screen and (min-width: 768px) and (max-width: 959px) {		
		
 		  .banner, .bannercontainer			{	width:750px; height:412px;}	
		
		  
		 
		  
   }
  
   @media only screen and (min-width: 480px) and (max-width: 767px) {
		   .banner, .bannercontainer		{	width:470px; height:258px;	}		   		
		
		    
			
		   
   }
   
   @media only screen and (min-width: 0px) and (max-width: 479px) {
			.banner, .bannercontainer		{	width:310px;height:170px;	}						
			
			 
			 
			 
   }


   
   
   
   
   
   
   
   
   

/**************************************************************
	DEMO STYLES - ONLY FOR THE PREVIEW ON CODECANYON 
****************************************************************/	
.titlecontainer{
	background-color:#444;
	width:100%;
	margin-bottom:50px;
}

.centered{
	width:890px;
	padding:30px 0;
	margin:auto;
}


.logo{	
	
	width:380px;
	height:45px;
	
}

.buynow {	
	background:url(../images/tiles/buynow.png) no-repeat top;
	width:176px;
	height:50px;	
	float:right;
	margin-top:5px;
	cursor:pointer;
}

.buynow:hover {	background-position:bottom;}

.title_left	{	float:left;}


.subtitle { 			
			color:#999;
			font-family:arial;
			font-size:11px;
			padding:0px 0px 0px 0px;
		}

.configurator	{	width:900px;
					margin-left:auto;
					margin-right:auto;
					background-color:#ddd;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					overflow:hidden;
					margin-top:50px;
				}
.configtitle {
				width:860px;
				height:36px;								
				background-color:#aaa;
				padding:20px 20px 10px;				
		}
		
.cti			{	width:388px;
					height:36px;
				}

		
.optiontitle	{
					font-family:arial;
					font-size:14px;
					line-height:22px;
					color:#444;
					text-shadow:0px 0px 1px #fff;
					font-weight:bold;
					margin-bottom:20px;
				}
.inside			{	padding:20px;}


.t_mixed		{	background:url(../images/tiles/transition_mixed.png) no-repeat 5px 5px}				
.t_box1		{	background:url(../images/tiles/transition_boxes.png) no-repeat 5px 5px}				
.t_box2		{	background:url(../images/tiles/transition_boxes.png) no-repeat 5px 5px}				
.t_szh		{	background:url(../images/tiles/transition_slotzoomhorizontal.png) no-repeat 5px 5px}				
.t_ssh		{	background:url(../images/tiles/transition_slotslidehorizontal.png) no-repeat 5px 5px}				
.t_sfh		{	background:url(../images/tiles/transition_slotfadehorizontal.png) no-repeat 5px 5px}				
.t_szv		{	background:url(../images/tiles/transition_slotzoomvertical.png) no-repeat 5px 5px}				
.t_ssv		{	background:url(../images/tiles/transition_slotslidevertical.png) no-repeat 5px 5px}				
.t_sfv		{	background:url(../images/tiles/transition_slotfadevertical.png) no-repeat 5px 5px}				
.t_c1		{	background:url(../images/tiles/transition_curtainone.png) no-repeat 5px 5px}				
.t_c2		{	background:url(../images/tiles/transition_curtaintwo.png) no-repeat 5px 5px}				
.t_c3		{	background:url(../images/tiles/transition_curtainthree.png) no-repeat 5px 5px}				
.t_sl		{	background:url(../images/tiles/transition_slideleft.png) no-repeat 5px 5px}				
.t_sr		{	background:url(../images/tiles/transition_slideright.png) no-repeat 5px 5px}				
.t_su		{	background:url(../images/tiles/transition_slideup.png) no-repeat 5px 5px}				
.t_sd		{	background:url(../images/tiles/transition_slidedown.png) no-repeat 5px 5px}				
.t_sf		{	background:url(../images/tiles/transition_fade.png) no-repeat 5px 5px}				


.transition		{	width:320px; 
					height:20px; 
					background-color:#eee;	
					border:1px solid #d0d0d0;			
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					font-family:arial;
					font-size:14px;
					line-height:22px;
					color:#FF7200;
					text-shadow:0px 0px 1px #fff;
					font-weight:bold;
					padding:10px 0px 10px 90px;
					margin-bottom:5px;
					cursor:pointer;
				}

.transition:hover,
.transition.selected	{
						color:#fff;
						background-color:#aaa;
						text-shadow:0px 0px 0px #000;				
						border:1px solid #aaa;						
				}		
				
.radio					{	background:url(../images/tiles/radio.png) no-repeat top left;
							font-family:arial;
							font-size:14px;
							height:19px;
							color:#777;
							text-shadow:0px 0px 1px #fff;
							padding: 0px 0px 0px 27px; 
							margin-right:20px;
							float:left;	
							cursor:pointer;
						}			
.clear					{	clear:both;}						
						
.radio.selected, .radio:hover			{	background-position: bottom left}			

.configurator_left	{	width:410px; float:left;}				
.configurator_right	{	width:410px; float:right;}	


.dragline	{	position:relative; background:url(../images/tiles/dragsliderbg.png) no-repeat; width:410px; height:20px;
				font-family:arial;
				font-size:14px;
				height:19px;
				color:#777;
				text-shadow:0px 0px 1px #fff;
			}
.dragger	{	cursor:pointer;position:absolute; left:50%; background:url(../images/tiles/dragnotch.png) no-repeat; width:7px; height:22px; margin-left:-3px;}

.nonclickable	{	opacity:0.5; cursor:default;}
.nonclickable:hover	{	background-position:top left;}


.plugoptions 	{	
					overflow:hidden;
					width:390px; 					
					background-color:#eee;	
					border:1px solid #d0d0d0;			
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					font-family:arial;
					font-size:12px;
					line-height:22px;
					color:#444;
					text-shadow:0px 0px 1px #fff;
					font-weight:bold;
					padding:10px;
					margin-bottom:40px;					
				}
.accordion			{	cursor:pointer; background:url(../images/tiles/accordionswitch.png) no-repeat top left; width:17px; height:19px;	float:right;}		
.accordion:hover	{ background-position:bottom left;}
.accordion.selected	{ background-position:top right;}
.accordion.selected:hover	{ background-position:bottom right;}
			
			
.previewselector_container	{	 height:42px;width:332px; margin:80px auto 20px;}				
.previewselector	{	float:left; background:url(../images/tiles/selectpreview.png) no-repeat 0px -42px; width:125px; height:42px;}

.previewselector.zweite	{	background-position:-125px 0px; width:110px;}
.previewselector.dritte	{	background-position:-235px 0px; width:96px;}

.previewselector.selected, .previewselector:hover	{	background-position:left top;}

.previewselector.zweite:hover, .previewselector.zweite.selected 	{	background-position:-125px -42px; width:110px;}
.previewselector.dritte:hover, .previewselector.dritte.selected	{	background-position:-235px -84px; width:96px;}

  @media only screen and (min-width: 768px) and (max-width: 959px) {		
 		 .centered { 	width:750px;}		  	
		 .subtitle	{	clear:both !important; padding:0 !important;}
		 .centered	{	padding:30px 0px;}

		  
   }
  
   @media only screen and (min-width: 480px) and (max-width: 767px) {
		     .centered		 { 	width:480px;}	
			 .subtitle		{	clear:both !important; padding:0 !important;}
			 .centered		{	padding:30px 0px;}
			 .buynow		{	float:left; margin-top:20px;}
			 .configurator, 
			 .configtitle	{	width:480px;}
			 .configurator_right	{	float:left;}
			 .configurator_left		{	}

   }
   
   @media only screen and (min-width: 0px) and (max-width: 479px) {
			 .centered		{ 	width: 320px;}	
			 .cti			{	width: 280px;}
			  .subtitle		{	clear:both !important; padding:0 !important;}			
			  .centered		{	padding:30px 0px;}
			  .buynow		{	float:left; margin-top:20px;}
			  .configurator, 
			  .configtitle	{	width:320px;}
			  .configurator_right	{	float:left; width:300px;}
			  .configurator_left	{	width:280px;}
			  .transition	{	width:190px;}
			  .plugoptions 	{	width:260px; font-size:10px;}
			  .breakmenow	{	clear:both; margin-top:30px;}
			  .dragline		{	width:260px;}
			  .logo			{	width:320px; overflow:hidden; }
			  .select_navigationtype	{	display:none;}
			  .select_bulletstyle	{	display:none;}
			  .select_bhposition		{	display:none;}
			  .select_bvposition		{	display:none;}
			  .select_navarrows		{	display:none;}
			  .select_navshow		{	display:none;}
			  .select_slidetime		{	display:none;}
			  .select_slots		{	display:none;}
			 .previewselector_container	{	width:301px; height:42px; margin:80px auto 20px; overflow:hidden; }	
			 .previewselector			{	width:105px;}
			 .previewselector.zweite	{	width:100px;}
			 .previewselector.zweite:hover,
			 .previewselector.zweite.selected {	width:100px;}
			 .previewselector.dritte	{	width:96px;}
   }
				

/* Restyling */
	body {
		font-family: 'Lato', sans-serif;
	}

	#lean_overlay {
	    position: fixed;
	    z-index:100;
	    top: 0px;
	    left: 0px;
	    height:100%;
	    width:100%;
	    background: #000;
	    display: none;
	}

	.clearfix:after {
	  	content: "";
	  	display: table;
	  	clear: both;
	}

	header {
		width: 100%;
		height: 20px;
	}

		header h2 {
			text-align: center;
			font-size: 23px;
			color: #444;
		}

	.content {
		width: 100%;
		height: auto;
	}

	.line {
		width: 100%;
		background: url(../images/line-grey.png) center no-repeat;
		height: 50px;
	}

	.titlecontainer #logo {
		float: left;
		height: 60px;
	}

	.titlecontainer #menu-left {  float: left;  margin-left: 20px;}
	.titlecontainer #menu-right { float: right;}

	#menu-left nav ul li {
		display: inline-table;
		margin-left: 15px;
	}

	#menu-left nav ul li a {
		font-size: 18px;
		color: #fff;
	}

		#menu-left nav ul li a:hover {
			color: #e1e1e1;
		}

	#menu-right nav ul li {
		
	}

	#menu-right nav ul li a {
		font-size: 18px;
		color: #fff;
	}

		#menu-right nav ul li a:hover {
			color: #e1e1e1;
		}	

	/* Info */
	#info {
		height: auto;
		width: 100%;
		padding-top: 10px;
	}

		#info ul li p {
			color: #2e2e2e;
		}

		#sitestat {
			float: left;
		}

			#sitestat ul li {
				display: inline-table;
				margin-left: 25px;
				margin-bottom: 10px;
			}

				#info ul li .colorme span.green { color: green; padding: 3px}
 				#info ul li .colorme span.red { color: red; padding: 3px;}
 				#info ul li .colorme span.blue { color: blue; padding: 3px;}
 				#info ul li .colorme span.bold { padding: 3px; font-weight: bold;}

			#sitestat ul.second {
				margin-top: 5px;
			}

		#userinfo {
			width: 200px;
			float: right;
		}

			#userinfo ul li {
				margin-bottom: 10px;
			}			

	/* How It Works */
	#howitworks {
		width: 100%;
		height: 350px;
		padding-top: 50px;
		padding-bottom: 50px;
		border-radius: 5px;
		background: #fff;
	}

		#howitworks .box {
			width: 220px;
			margin-left: 80px;
			padding: 10px;
			border-radius: 5px;
			float: left;
			-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
			-moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
			-o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		}

			#howitworks .box:first-child {
				margin-left: 0px;
			}

				/* Animation */
				#howitworks .box:hover {
					-webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.7);
					-moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.7);
					box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.7);
				}

			#howitworks .box header {
				width: inherit;
				height: 76px;
				margin-bottom: 25px;
			}

			#howitworks .box .title {
				width: 100%;
			}

			#howitworks .box .title h2 {
				margin-bottom: 0;
				text-align: center;
				color: #444;
				font-size: 18px;
			}

			#howitworks .box .content {
				width: 100%;
				padding: 20px 0;
				height: 100px;
			}

			#howitworks .box .content p {
				font-size: 14px;
				color: #444;
				font-family: 'Lato';
				text-align: center;
			}

			#howitworks .box .boxbutton {
				display: block;
				text-align: center;
				text-decoration: none;
				font-weight: bold;
				margin-bottom: 15px;
				color: #00b695;
			}

			#s1 header { background: url(../images/service-1.png) no-repeat center	}
			#s2 header { background: url(../images/service-2.png) no-repeat center	}
			#s3 header { background: url(../images/service-3.png) no-repeat center	}
			

	/* Pricing */
	#pricing {
		width: 100%;
		height: 500px;
		background: transparent;
	}

		#pricing .content {
			width: 625px;
			height: auto;
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
		}

		#pricing .price {
			width: 200px;
			float: left;
		}

			#pricing .price li {
				display: block;
				border-bottom: 1px #444 solid;
				width: inherit;
				height: 10px;
				padding-top: 10px;
				padding-bottom: 20px;

			} 

				#pricing .price li.header {
					background: #444
				}

			#pricing .price li.header h3 {
				text-align: center;
				color: #fff;
			}

			#pricing .price li p {
				text-align: center;
			}

			#pricing .price {
				border-right: 1px #444 solid;
			}

			#pricing .price:first-child {
				border-right: 1px #444 solid;
				border-left: 1px #444 solid;
			}



			#pricing .price .p1 { background: white;}
			#pricing .price .p2 { background: #e1e1e1;}

			#pricing .price.popular header {
				background: #ffa030
			}


	/* Contact Us */
	#contactus {
		width: 100%;
		height: 450px;
		background: #444;
	}

		#contactus header h2 {
			color: #fff;
		}

		.contact {
			width: 350px;
			padding: 25px;
			float: left;
		}

		.contact .text {
			width: inherit;
			height: 25px;
			margin-bottom: 15px;
			border-radius: 5px;
			padding: 5px;
			border: 0;
			background: #6b6b6b;
			color: #fff;
			font-size: 14px;
		}

		.contact textarea {
			width: inherit;
			height: 80px;
			border-radius: 5px;
			border: 0;
			padding: 5px;
			margin-bottom: 15px;
			background: #6b6b6b;
			color: #fff;
			font-size: 14px;
		}

		.contact button {
			width: 90px;
			height: 40px;
			padding: 5px;
			border: 0;
			border-radius: 5px;
			float: right;
			cursor: pointer;
			background: #6b6b6b;
			color: #fff;
		}

	/*Login / reg*/
	.auth {
		width: 406px;
		padding: 25px;
		margin: 10px;
		background: #444;
		border-radius: 5px; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
        -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
        -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
        overflow: hidden;
        margin-left: auto; 
        margin-right: auto;
        display: none;
	}

	.auth form {
		width: 403px;
		float: left;
	}

	.auth input {
		width: 389px;
		height: 20px;
		margin-top: 5px;
		padding: 10px;
		background: #6b6b6b;
		border: 0;
		border-radius: 5px;
		color: #fff;
	}

	.auth textarea {
		width: 389px;
		height: 60px;
		margin-top: 5px;
		padding: 10px;
		background: #6b6b6b;
		border: 0;
		border-radius: 5px;
		color: #fff;

	}

	.auth button {
		width: 70px;
		height: 40px;
		margin-top: 15px;
		float: right;
		background: #6b6b6b;
		border: 0;
		border-radius: 5px;
		cursor: pointer;
		color: #fff;
	}