/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') #b46b24 no-repeat center center fixed;
	min-height:100%;
	background-size:cover;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #fff;
	min-height:100%;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


/*-------------------------
	The Login Form
--------------------------*/


#login-register{
	background-color:#242424;
	padding: 65px 75px;
	width:500px;
	height:320px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-235px 0 0 -325px;

	box-shadow:0 2px 5px rgba(0,0,0,0.5);
}

#login-register h1{
	font-size:36px;
}

#login-register input{
	font: inherit;
	font-size: 18px;
	line-height: 30px;
	background-color: #363636;
	color: #fff;
	padding: 10px 20px;
	border: none;
	display: block;
	width: 450px;
	margin: 45px 0 15px;
	outline: none;
}

#login-register p{
	line-height:1.4;
}

#login-register button{
	display:inline-block;
	margin-top:50px;
	
	font:inherit;
	font-weight:bold;
	font-size:20px;

	cursor:pointer;

	background-color:#5ca1cd;
	color:#fff;
	padding:20px 45px;

	border:none;
	border-bottom:3px solid #3f84b0;
	border-radius:3px;
}

#login-register button:hover{
	background-color:#61a8d5;
}

#login-register.loggedIn button{
	cursor: default;
	background-color: #555 !important;
	border-bottom-color: #444 !important;
	color: #aaa !important;
}

#login-register span{
	line-height:1.4;
	font-size: 12px;
	position: absolute;
	bottom: 95px;
	width: 225px;
	height: 20px;
	right: 80px;
	color: #85bb2f;
	background:url('../img/preloader.gif') 0 -1000px no-repeat;
}

#login-register.error span{
	color: #ee5ea5;	
}

#login-register.loading span{
	color: transparent;
	background-position: 0 100%;
}


/*-------------------------
	The protected page
--------------------------*/


#protected-page{
	width:980px;
	margin:100px auto 50px;
	text-align:center;
	background-color:#fff;
	border-radius:3px;
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	padding:85px 0;
	color:#727272;
	font-size:20px;
}

#protected-page h1{
	font-size:40px;
	margin:20px 0 50px;
}

#protected-page p{
	line-height: 1.5;
}

#protected-page a{
	
	/* The logout button */

	display:inline-block;
	padding:10px 30px;
	margin-top:50px;
	text-decoration: none !important;
	color:#fff !important;
	background-color:#b9b9e2;
	
	font-weight:bold;
	font-size:16px;

	border-radius:3px;
	border-bottom:3px solid #9f9fc2;
}

#protected-page a:hover{
	background-color:#c3c3ea;
}


/*----------------------------
	The Demo Footer
-----------------------------*/


footer{

	width: 770px;
	font: normal 16px Arial, Helvetica, sans-serif;
	padding: 15px 35px;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -420px;

	background-color:#1f1f1f;

	background-image:-webkit-linear-gradient(top, #1f1f1f, #101010);
	background-image:-moz-linear-gradient(top, #1f1f1f, #101010);
	background-image:linear-gradient(top, #1f1f1f, #101010);

	border-radius:2px 2px 0 0;

	box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
	z-index:1;
}

footer a.tz{
	font-weight:normal;
	font-size:16px !important;
	text-decoration:none !important;
	display:block;
	margin-right: 300px;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#bfbfbf !important;
	z-index:1;
}

footer a.tz:before{
	content: '';
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
	width: 138px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -3px;
}

footer .close{
	position: absolute;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
	top:10px;
	right:10px;
	z-index: 3;
}

footer #tzine-actions{
	position: absolute;
	top: 8px;
	width: 500px;
	right: 50%;
	margin-right: -650px;
	text-align: right;
	z-index: 2;
}

footer #tzine-actions iframe{
	display: inline-block;
	height: 21px;
	width: 95px;
	position: relative;
	float: left;
	margin-top: 11px;
}
